body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
#cont {
    padding: 0 !important;
}
#login_div{
	font-size: 14px;
	padding: 20px;
	width: 800px;
	background-color: #F9F9F9;
	margin: 30px auto;
    box-shadow: 0 0 10px #d9d9d9;
    border-radius: 5px;
	
}
#img_form {
    width: 600px;
    margin: 0 auto;
}
#login_div a {
    color: #0099ff;
}
#login_div #reg {
    clear: both;
    text-align: center;
    margin: 0 0 20px 0;
}
.seccion {
    border-top: 1px solid #e9e9e9;
    padding-top: 20px;
}
#que_es {
    font-size: 14px;
    padding: 20px;
}
#novedad_div{
	color: #949494;
	font-size: 12px;
	padding: 10px;
    margin: 20px 0 0 0;
}

#novedad_div h1 {
    color: #555555;
	margin: 0px;
	padding: 0px;
	font-size: 20px;
}
#novedad_div #nd {
    width: 1000px;
    margin: 0 auto;
}
#novedad_div #nd div.h {
    float: left;
    width: 30%;
    padding: 0 10px;
}
#novedad_div #nd div.f {
    clear: both;
    text-align: center;
    margin: 10px 0 0 0;
}
#novedad_div li{
	padding: 3px;
    list-style: none;
}
#login_div fieldset {
	border: none;
}
#login_div legend {
  padding: 0 2px;
  font-weight: bold;
}

#login_div label {
  display: inline-block;
  width: 150px;
  color: #333333;
  font-size: 14px;
}
#login_div fieldset ol {
  margin: 0;
  margin-top: 10px;
  padding: 0;
}
#login_div fieldset li {
  list-style: none;
  padding: 5px;
  margin: 0;
}
#login_div .img_iz{
	float: left;
	padding: 10px;
}
#login_div .fields{
	float: left;
	padding: 10px;
}

#login_div .textfield {
    padding: 4px;
    font-size: 14px;
}

#novedad_div h2{
	margin: 0px;
	margin-top: 10px;
	padding: 0px;
	font-size: 18px;
}

#logos_otros {
    width: 100%;
    text-align: center;
}
#logos_otros .logo {
    float: left;
    margin-right: 25px;
}

.button {
    width: 100px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
}
/* The alert message box */
.alert {
    padding: 20px;
    background-color: #ff9800;
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}