body {
    font-family: Trebuchet MS, Helvetica, Arial, sans serif;
    font-size: 8pt;
	margin: 10px 5px 5px 5px;
}

#top h2{
	font-size: 16px;
	text-align: center;
}

.timeline-event-icon, .timeline-event-label, .timeline-event-tape{
	/*width : 150px;*/
	position: absolute;
	cursor: pointer;
}

#div_timeplot{
	height: 300px;
	border: 1px solid #aaa;
}

